$aw-blue: rgb(45, 105, 215);
$start-button-color: darkgreen;
$rules-background-color: limegreen;


$default-font: 'Oswald', sans-serif;

$pit-font-color: white;

$board-background-image: '../img/woodgrain.jpg';

$avocadoStats-width: 225px;
$avocadoStats-background-image: '../img/bg.png';
$avocadoStats-border-color: darkgreen;
$pit-background-image: '../img/pit.png';
$pit-border-color: black;

$avocado: '../img/avocado.png';
$onion: '../img/onion.png';
$tomato: '../img/tomato.png';
$nice: '../img/nice.png';

$bowl: '../img/bowl.png';
$bowl-width: 200px;
$bowl-height: 200px;
$cursor: '../img/hammer.cur';

$board-height: 40vh;
$board-width: 60vw;
$square-width: 33%;
$square-height: 33%;
$twentyfive: '../img/25.png';
$fifty: '../img/50.png';
$seventyfive: '../img/75.png';
$hunnet: '../img/100.png';
$sixty-nine: '../img/nice.png';





